/* UNIVERSALS */
:root {
    --sidebar-color: #0294e3;
    --sidebar-text: #f4ebeb;
    --primary-text: #000000;
    --secondary-text: #6e6e6e;
    --primary-white: #ffffff;
    --background-gray: #e0e9f0;
    --shadow-color: #0000001a;
    --border-color: #fdb328;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
}

h4 {
    font-size: 1.5rem;
 }

 a:hover, button:hover {
    cursor: pointer;
 }

/* ICONS */

.dashboard-icon {
    width: 40px;
    height: auto;
    margin-right: 1rem;
}

.project-icon {
    width: 15px;
    height: auto;
}

.menu-icon, .header-icon {
    width: 20px;
    height: auto;
}

.menu-icon, .dashboard-icon{
    fill: var(--sidebar-text);
}

.project-icon, .header-icon {
    fill: var(--primary-text);
}

.menu-icon, .project-icon, .header-icon {
    margin-right: 2rem;
}

.profile-image, .trending-image {
    width: 40px;
    height: auto;
}

.profile-image-large {
    width: 60px;
    height: auto;
}

/* HEADER */

.header {
    background-color: var(--primary-white);
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: 1fr 1fr;
    box-shadow: 0 4px 6px var(--shadow-color);
    z-index: 3;
}

.header-top {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 1rem 2rem;
}

.top-left {
    display: flex;
    align-items: center;
}

.top-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-bottom {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.bottom-left {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
}

.bottom-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem 2rem;
}

.profile-name {
    font-size: 1.3rem;
    font-weight: bold;
    padding: 1rem;
}
.intro-text {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.2rem;
}

.profile-name-large {
    font-size: 1.7rem;
    font-weight: bold;
}

.profile-info {
    margin-left: 1rem;
}

input {
    background-color: var(--background-gray);
    border: none;
    border-radius: 50px;
    padding: 0.8rem 2rem;
    width: 60%;
}

button {
    padding: 0.8rem 2rem;
    margin-right: 0.5rem;
    font-weight: bold;
    color: var(--primary-white);
    background-color: var(--sidebar-color);
    border: none;
    border-radius: 50px;
}

/* SIDEBAR */

.sidebar {
    background-color: var(--sidebar-color);
    display: grid;
    grid-template-rows: repeat(9, 1fr);
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    color: var(--sidebar-text);
    padding: 1rem 5rem 0rem 2rem;
}

.dashboard-title {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    padding: 0;
    font-size: 2.5rem;
    font-weight: bold;
}

ul {
    margin-bottom: 4rem;
}

li {
    list-style-type: none;
    text-align: left;
    font-size: 1.7rem;
    font-weight: bold;
    padding: 0.8rem;
    display: flex;
    align-items: center;
}

/* CENTER */

.center-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto 1fr;
    background-color: var(--background-gray);
}

/* PROJECTS */

.projects {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.projects-head {
    padding: 2rem 2rem 0rem 2rem;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    padding: 1rem 2rem 2rem;
}

.card {
    background-color: var(--primary-white);
    border-radius: 10px;
    box-shadow: 0 4px 6px var(--shadow-color);
    padding: 2rem;
    border-left: 5px solid var(--border-color);
}

.project-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: var(--primary-text);
}

.project-description {
    font-size: 1.1rem;
    color: var(--secondary-text);
    margin-bottom: 0.9rem;
}

.project-btn-div {
    display: flex;
    justify-content: flex-end;
}

.project-icon {
    margin-left: 1rem;
    margin-right: 0;
}

/* ANNOUNCEMENTS */

.announcements {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.announce-head, .trend-head {
    padding: 2rem 2rem 1rem 0rem;
}

.announce-container {
    background-color: var(--primary-white);
    padding: 2rem;
    border-radius: 10px;
    margin-right: 2rem;
    box-shadow: 0 4px 6px var(--shadow-color);
}

.announcement-item {
    border-bottom: 1px solid #acaaaa;
    margin-top: 0.8rem;
}

.announcement-item:first-child {
    margin-top: 0;
}

.announcement-item:last-child {
    border-bottom: none;
}

.announce-description {
    color: var(--secondary-text);
    padding: 0.8rem 0rem;
}

.announcement-item:last-child .announce-description {
    padding-bottom: 0;
}

/* TRENDING */

.trending {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.trending-container {
    background-color: var(--primary-white);
    border-radius: 10px;
    padding: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 4px 6px var(--shadow-color);
}

.trending-item {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.trending-item:last-child {
    margin-bottom: 0;
}

.trending-image {
    margin-right: 1rem;
}

.social-handle {
    color: var(--primary-text)
}

.social-name {
    color: var(--secondary-text)
}

.social-stack {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
